
.cntFollowers{
	font-family: 'Dosis', sans-serif;

	display: flex;
	align-items: center;
	flex-direction: column;

	width: 15rem;
	padding: 0.65rem 0;

	border-radius: 5px;
	background-color: none;


	.cabecera{
		display: flex;
		align-items: center;

		padding: 0 1rem;
		span{
			width: 1rem;
			height: 1rem;

			transition: background-color 2s;
			animation: led 0.5s infinite;

			border-radius: 100px;
			box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
		}

		h1{
			font-size: 1rem;

			margin: 0;
			padding: 0 0.5rem;

			color: rgb(194, 14, 14);
		}
	}

	.follower{
		line-height: 1.2rem;

		display: flex;

		width: 80%;
		min-height: 1.2rem;
		margin-top: 0.4rem;
		padding: 0.1rem 0.5rem;

		text-overflow: ellipsis;

		border: 1px solid black;
		border-radius: 5px;
		background-color: #202020;
		background-image: url('data:image/svg+xml,%3Csvg width=\'6\' height=\'6\' viewBox=\'0 0 6 6\' xmlns=\'http://www.w3.org/2000/svg%27%3E%3Cg fill=\'%23000000\' fill-opacity=\'0.4\' fill-rule=\'evenodd\'%3E%3Cpath d=\'M5 0h1L0 6V5zM6 5v1H5z\'/%3E%3C/g%3E%3C/svg%3E');

		p{
			overflow: hidden;

			margin: 0;

			animation: parpadeo 0.75s infinite;
			letter-spacing: 0.1rem;

			color: rgb(33, 206, 17);
			border-right: 1px solid white;
		}
	}
}

@keyframes parpadeo{
	from,
	to{
		border-color: transparent;
	}
	50%{
		border-color: white;
	}
}

@keyframes led{
	from{
		background-color: rgb(33, 206, 17);
	}
	50%{
		background-color: rgb(159, 196, 155);
		box-shadow: 0 1px 9px 0 rgba(0,0,0,0.2);
	}
	to{
		background-color: rgb(33, 206, 17);
	}
}
